@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@700;900&display=swap");
.banner-container {
  min-height: 70vh;
  min-width: 100vh;
  background-color: #2c2c32;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner-inner {
    height: fit-content;
    text-align: center;
    position: relative;
    z-index: 2;
    opacity: 45%;

    h1 {
      padding: 15px;
      color: #fff;
      font-size: 5em;
      font-weight: 400;
      font-family: "Passion One", cursive;
      margin: 0;
    }
    p {
      color: rgba(255, 255, 255, 0.85);
      font-size: 1.5em;
      font-weight: 300;
      margin-bottom: 60px;
    }
    .more {
      background-image: url("../../assets//images/arrow.svg");
      background-position: center 1.35em;
      background-repeat: no-repeat;
      background-size: auto;
      border: 1px solid #fff;
      border-radius: 100%;
      color: rgba(255, 255, 255, 0.75);
      display: block;
      height: 4em;
      text-indent: 4em;
      overflow: hidden;
      white-space: nowrap;
      width: 4em;
      z-index: 2;
      margin: 0 auto 2em auto;
    }
  }
}
