@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@700;900&display=swap");
.login-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  //margin-left: 90px;

  .login-text {
    padding-bottom: 20px;

    h1 {
      font-family: "Passion One", cursive;
      font-weight: 700;
      font-size: 32px;
      color: white;
      opacity: 45%;
      margin-bottom: 40px;
    }
    span {
      font-family: "Passion One", cursive;
      font-weight: 600;
      font-size: 20px;
      color: white;
      //opacity: 45%;
    }
  }

  .submit-buttons {
    display: flex;
    justify-content: space-between;
  }
}
