@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@700;900&display=swap");

.signup-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  //margin-left: 90px;

  .signup-text {
    padding-bottom: 20px;
    h1 {
      font-family: "Passion One", cursive;
      color: white;
      opacity: 45%;
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 40px;
    }
    span {
      font-family: "Passion One", cursive;
      font-weight: 600;
      font-size: 20px;
      color: white;
    }
  }
}
